<!--DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Tic-Tac-Toe</title>
  
  
  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>

      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  
<div class="board__settings"><i class="fa fa-cog board__settings-cog"></i>
  <h1 class="board__header-settings">Choose Player
    <div class="board__row">
      <div class="board__settings__choice-cross"></div>
      <div class="board__settings__choice-nought"></div>
    </div>
  </h1>
</div>
<div class="board__difficulty"><i class="fa fa-cog board__settings-cog"></i>
  <h1 class="board__header-difficulty">Select Difficulty</h1>
  <div class="board__difficulty__button-easy" id="easy">Easy</div>
  <div class="board__difficulty__button-medium" id="medium">Medium</div>
  <div class="board__difficulty__button-hard" id="hard">Hard</div>
</div>
<div class="board">
  <div class="board__row">
    <input class="board__slot-hidden" type="radio"/>
    <label class="board__slot" id="0"></label>
    <input class="board__slot-hidden" type="radio"/>
    <label class="board__slot" id="1"></label>
    <input class="board__slot-hidden" type="radio"/>
    <label class="board__slot" id="2"></label>
  </div>
  <div class="board__row">
    <input class="board__slot-hidden" type="radio"/>
    <label class="board__slot" id="3"></label>
    <input class="board__slot-hidden" type="radio"/>
    <label class="board__slot" id="4"></label>
    <input class="board__slot-hidden" type="radio"/>
    <label class="board__slot" id="5"></label>
  </div>
  <div class="board__row">
    <input class="board__slot-hidden" type="radio"/>
    <label class="board__slot" id="6"></label>
    <input class="board__slot-hidden" type="radio"/>
    <label class="board__slot" id="7"></label>
    <input class="board__slot-hidden" type="radio"/>
    <label class="board__slot" id="8"></label>
  </div>
</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Proyecto-SYTW</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>

      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="scss/style.scss">

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="../css/mdb.min.css" rel="stylesheet">
    <link href="../css/mdb.min.css" rel="stylesheet">


  <link href="..//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">
</head>

<body>

    <header>
        <!--Navbar-->
        <nav class="navbar navbar-toggleable-md navbar-dark">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <strong>Proyecto DSI</strong>
                </a>
                <div class="collapse navbar-collapse" id="navbarNav1">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/profile">Home </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/juego">Juego</a>
                            <!--<a class="link" href="/cambiarpass">Cambiar contraseña</a>-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ranking">Ranking</a>
                        </li>
                    </ul>
                    <form class="form-inline waves-effect waves-light">
                        <input class="form-control" type="text" placeholder="Search">
                    </form>
                </div>
            </div>
        </nav>
        <!--/.Navbar-->
    </header>

    <main>
        <!--Main layout-->
        <div class="container">
<div class="board__settings"><i class="fa fa-cog board__settings-cog"></i>
  <h1 class="board__header-settings">Choose Player
    <div class="board__row">
      <div class="board__settings__choice-cross"></div>
      <div class="board__settings__choice-nought"></div>
    </div>
  </h1>
</div>
<div class="board__difficulty"><i class="fa fa-cog board__settings-cog"></i>
  <h1 class="board__header-difficulty">Select Difficulty</h1>
  <div class="board__difficulty__button-easy" id="easy">Easy</div>
  <div class="board__difficulty__button-medium" id="medium">Medium</div>
  <div class="board__difficulty__button-hard" id="hard">Hard</div>
</div>
<div class="board">
  <div class="board__row">
    <input class="board__slot-hidden" type="radio"/>
    <label class="board__slot" id="0"></label>
    <input class="board__slot-hidden" type="radio"/>
    <label class="board__slot" id="1"></label>
    <input class="board__slot-hidden" type="radio"/>
    <label class="board__slot" id="2"></label>
  </div>
  <div class="board__row">
    <input class="board__slot-hidden" type="radio"/>
    <label class="board__slot" id="3"></label>
    <input class="board__slot-hidden" type="radio"/>
    <label class="board__slot" id="4"></label>
    <input class="board__slot-hidden" type="radio"/>
    <label class="board__slot" id="5"></label>
  </div>
  <div class="board__row">
    <input class="board__slot-hidden" type="radio"/>
    <label class="board__slot" id="6"></label>
    <input class="board__slot-hidden" type="radio"/>
    <label class="board__slot" id="7"></label>
    <input class="board__slot-hidden" type="radio"/>
    <label class="board__slot" id="8"></label>
  </div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="_book/js/index.js"></script>

        </div>

        <!--/.Main layout-->
    </main>

    <!--Footer-->
    <footer class="page-footer center-on-small-only">
        <!--Footer links-->
        <div class="container-fluid">
            <div class="row">
                <!--First column-->
                <div class="col-md-3 offset-lg-1 hidden-lg-down">
                    <h5 class="title">Páginas de Autores</h5>
                      <div class="row">
                <div class="offset-1 col-md-11">
                    <ul>
                        <li>
                            <a href="https://ivan-ga.github.io/">Iván González Aguiar</a>
                        </li>
                        <li>
                            <a href="https://alu0100200393.github.io/">Miguel Parra Esquivel</a>
                        </li>
                        <li>
                            <a href="https://alu0100813272.github.io/">Jairo González Lemus</a>
                        </li>
                        <li>
                          <a href="https://alu0100785265.github.io/">José Lucas Ruiz Glez</a>
                        </li>
                     <ul>

                      </div>
                </div>

                </div>

                <!--/.First column-->
                <hr class="hidden-md-up">
                <!--Second column-->
                <div class="col-lg-4 col-md-8 offset-lg-1">
                    <h5 class="title">Tecnologias Utilizadas</h5>

                          <div class="row">
                <div class="offset-1 col-md-11">
                    <ul>
                        <li>
                            <a href="#!">HTML</a>
                        </li>
                        <li>
                            <a href="#!">CSS</a>
                        </li>
                        <li>
                            <a href="#!">Javascrip</a>
                        </li>
                        <li>
                            <a href="#!">MongoDB</a>
                        </li>
                         <li>
                            <a href="#!">Express</a>
                        </li>
                         <li>
                            <a href="#!">Autentificacion con Passport</a>
                        </li>
                    </ul>
                        </div>
                </div>
                </div>

                <!--/.Third column-->
                <hr class="hidden-md-up">
                <!--Fourth column-->
                <div class="col-lg-2 col-md-4">
                    <h5 class="title">Contactar</h5>
                     <div class="row">
                <div class="offset-1 col-md-11">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/profile.php?id=100016783155465">Facebook</a>
                        </li>
                    </ul>
                </div>
                    </div>
                </div>
                <!--/.Fourth column-->
            </div>
        </div>
        <!--/.Footer links-->


        <!--Copyright-->
        <div class="footer-copyright">
            <div class="containter-fluid">
                © 2017 Copyright: <a href="https://github.com/ULL-ESIT-DSI-1617/proyecto-dsi-lucas-ivan-miguel-jairo"> Proyecto DSI </a>
            </div>
        </div>
        <!--/.Copyright-->
    </footer>
    <!--/.Footer-->

    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="../js/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../js/mdb.min.js"></script>

    <script>
            new WOW().init();
    </script>

</body>

</html>
