<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Proyecto-DSI</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <link href="css/mdb.min.css" rel="stylesheet">


  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>

<body>

    <header>
        <!--Navbar-->
        <nav class="navbar navbar-toggleable-md navbar-dark">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <strong>Navbar</strong>
                </a>
                <div class="collapse navbar-collapse" id="navbarNav1">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link">Home <span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/profile">Juego</a>
                            <!--<a class="link" href="/cambiarpass">Cambiar contraseña</a>-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ranking">Ranking</a>
                        </li>
                        
                    </ul>
                    <form class="form-inline waves-effect waves-light">
                        <input class="form-control" type="text" placeholder="Search">
                    </form>
                </div>
            </div>
        </nav>
        <!--/.Navbar-->
    </header>

    <main>
        <!--Main layout-->
        <div class="container">

            <!--Page heading-->
            <div class="row">
                <div class="col-md-12">

            <div class="row">
                <div class="col-md-4">
                  <div class="row">
                   <div class="col-md-12">
                        <p>Esto es una plataforma realizada para un trabajo de la asignatura
                        DSI donde podemos hacer :
                      </p>
                   </div>
                   </div>
                        <div class="row">
                <div class="offset-1 col-md-11">
                       <p>
                      <ul>
                       <li style="list-style-type:disc">Autentificación local</li>
                       <li style="list-style-type:disc">Autentificación facebook</li>
                       <li style="list-style-type:disc">Autentificación twitter</li>
                       <li style="list-style-type:disc">Autentificación github</li>
                       <li style="list-style-type:disc">Registro</li>
                       <li style="list-style-type:disc">Aplicación 3 en raya</li>
                       <li style="list-style-type:disc">Enlaces paginas personales y repositorio</li>
                       <li style="list-style-type:disc">Enlaces a facebook</li>
                       <li style="list-style-type:disc">Ranking de los usuario registrados que juegan en al aplicación.</li>
                     </ul>
                   </p>

                    </div>
                    </div>
                </div>

                    <div class="col-md-8">

    <div class="omb_login">
    		<h3 class="omb_authTitle">Login or <a href="/registro">Sign up</a></h3>
		<div class="row omb_row-sm-offset-3 omb_socialButtons">
    	    <div class="col-xs-4 col-sm-3">
		        <a href="/auth/facebook" class="btn btn-lg btn-block omb_btn-facebook" onclick="window.location='/auth/facebook';">
			        <i class="fa fa-facebook visible-xs"></i>
			        <span class="hidden-xs">Facebook</span>
		        </a>
	        </div>
        	<div class="col-xs-4 col-sm-3">
		        <a href="/auth/twitter" class="btn btn-lg btn-block omb_btn-twitter" onclick="window.location='/login/twitter';">
			        <i class="fa fa-twitter visible-xs"></i>
			        <span class="hidden-xs">Twitter</span>
		        </a>
	        </div>
	        <div class="col-xs-4 col-sm-3">

		      <a href="/login/github" class="btn btn-lg btn-block omb_btn-github" onclick="window.location='/login/github';">
			        <i class="fa fa-github visible-xs"></i>
			        <span class="hidden-xs"> Git-hub </span>
		        </a>
	        </div>
	          <!--<div class="col-sm-3"> </div>-->
		 </div>

		<div class="row omb_row-sm-offset-3 omb_loginOr">
			<div class="col-xs-12 col-sm-9">
				<hr class="omb_hrOr">
				<span class="omb_spanOr">or</span>
			</div>
		</div>

		<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-6">
			    <form class="omb_loginForm" action="/login" autocomplete="off" method="POST">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<input type="text" class="form-control" name="username" placeholder="email address">
					</div>
					<span class="help-block"></span>

					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock"></i></span>
						<input  type="password" class="form-control" name="password" placeholder="Password">
					</div>


<a class="link" href="/cambiarpass">Cambiar contraseña</a>
	<button class="btn btn-lg btn-primary btn-block" value="Log in" type="submit">Login</button>
					<!--<button class="btn btn-lg btn-primary btn-block" type="submit"><a class="link" href="/registro">Sign Up </a></button>-->
				<a class="link" href="/registro">No tienes cuenta? Regístrate aquí</a>
				</form>
			</div>
    	</div>
		<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-3">
				<label class="checkbox">
					<input type="checkbox" value="remember-me">Remember Me
				</label>
			</div>
			<div class="col-xs-12 col-sm-3">
				<p class="omb_forgotPwd">
					<!--<a href="#">Forgot password?</a>-->
				</p>
			</div>
		</div>
	</div>



      </div>
                </div>
            </div>


        </div>

        <!--/.Main layout-->
    </main>

    <!--Footer-->
    <footer class="page-footer center-on-small-only">
        <!--Footer links-->
        <div class="container-fluid">
            <div class="row">
                <!--First column-->
                <div class="col-md-3 offset-lg-1 hidden-lg-down">
                    <h5 class="title">Páginas de Autores</h5>
                      <div class="row">
                <div class="offset-1 col-md-11">
                    <ul>
                        <li>
                            <a href="https://ivan-ga.github.io/">Iván González Aguiar</a>
                        </li>
                        <li>
                            <a href="https://alu0100200393.github.io/">Miguel Parra Esquivel</a>
                        </li>
                        <li>
                            <a href="https://alu0100813272.github.io/">Jairo González Lemus</a>
                        </li>
                        <li>
                          <a href="https://alu0100785265.github.io/">José Lucas Ruiz Glez</a>
                        </li>
                     <ul>

                      </div>
                </div>

                </div>

                <!--/.First column-->
                <hr class="hidden-md-up">
                <!--Second column-->
                <div class="col-lg-4 col-md-8 offset-lg-1">
                    <h5 class="title">Tecnologias Utilizadas</h5>

                          <div class="row">
                <div class="offset-1 col-md-11">
                    <ul>
                        <li>
                            <a href="#!">HTML</a>
                        </li>
                        <li>
                            <a href="#!">CSS</a>
                        </li>
                        <li>
                            <a href="#!">Javascrip</a>
                        </li>
                        <li>
                            <a href="#!">MongoDB</a>
                        </li>
                         <li>
                            <a href="#!">Express</a>
                        </li>
                         <li>
                            <a href="#!">Autentificacion con Passport</a>
                        </li>
                    </ul>
                        </div>
                </div>
                </div>

                <!--/.Third column-->
                <hr class="hidden-md-up">
                <!--Fourth column-->
                <div class="col-lg-2 col-md-4">
                    <h5 class="title">Contactar</h5>
                     <div class="row">
                <div class="offset-1 col-md-11">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/profile.php?id=100016783155465">Facebook</a>
                        </li>
                    </ul>
                </div>
                    </div>
                </div>
                <!--/.Fourth column-->
            </div>
        </div>
        <!--/.Footer links-->


        <!--Copyright-->
        <div class="footer-copyright">
            <div class="containter-fluid">
                © 2017 Copyright: <a href="https://github.com/ULL-ESIT-DSI-1617/proyecto-dsi-lucas-ivan-miguel-jairo"> Proyecto DSI </a>
            </div>
        </div>
        <!--/.Copyright-->
    </footer>
    <!--/.Footer-->

    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>

    <script>
            new WOW().init();
    </script>

</body>

</html>
