<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
  <meta charset="UTF-8">
  <title>Ajedrez</title>
      <!-- Font Awesome -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

      <!-- Bootstrap core CSS -->
      <link href="css/bootstrap.min.css" rel="stylesheet">

      <!-- Material Design Bootstrap -->
      <link href="css/mdb.min.css" rel="stylesheet">
      <link href="css/mdb.min.css" rel="stylesheet">

      <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
      <link href="css/style.css" rel="stylesheet">


      <link rel="stylesheet" href="css/chessboard.css" />

</head>

<body>
  <header>
    <div ng-controller="HeaderCtrl">
      <div ng-include src="header.url"></div>
    </div>
  </header>
  <br>
  <h1 class="text-center"><strong>AJEDREZ</strong></h1>

  <!-- <div id="board"></div> -->
  
  <div id="board" style="width: 400px"></div>
  
  <!--Footer-->
  <footer class="page-footer center-on-small-only">

    <div ng-controller="PieCtrl">
      <div ng-include src="footer.url"></div>
    </div>

  </footer>
  <!--/.Footer-->

  <!-- SCRIPTS -->

  <!-- Ajedrez -->
  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.min.js'></script>

<script src="js/chessboard.js"></script>

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js"></script>
  <script type="text/javascript" src="js/myapp.js"></script>

  <script type="text/javascript" src="js/json3.min.js"></script>

  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>

  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/tether.min.js"></script>

  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>

  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>

  <script>
var init = function() {

//--- start example JS ---
var cfg = {
  position: 'start'
};
var board = ChessBoard('board', cfg);
//--- end example JS ---

}; // end init()
$(document).ready(init);

//new WOW().init();

  </script>



</body>
</html>
