<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Proyecto-SYTW</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <link href="css/mdb.min.css" rel="stylesheet">


  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>

<body>

    <header>
      <div ng-controller="HeaderCtrl">
        <div ng-include src="header.url"></div>
      </div>
    </header>

    <main>
        <!--Main layout-->
        <div class="container">

            <!--Page heading-->
            <div class="row">
                <div class="col-md-12">
                  <div class="row">
                      <div class="col-md-6">
                        <p align="center">3 EN RAYAS</p>
                        <p align="center">
                          <a href="/r_tresenraya"><img src="img/3_en_rayas_violeta.png" height="150" width="150"></a>
                        </p>
                      </div>
                      <div class="col-md-6">
                        <p align="center">AJEDREZ</p>
                        <p align="center">
                          <a href="/r_ajedrez"><img src="img/ajedrez_violeta.png" height="150" width="150"></a>
                        </p>
                      </div>
                  </div>
                  <br><br>
                  <div class="row">
                      <div class="col-md-6">
                        <p align="center">BUSCAMNIAS</p>
                        <p align="center">
                          <a href="/r_buscaminas"><img src="img/buscaminas_violetas.png" height="150" width="150"></a>
                        </p>
                      </div>
                      <div class="col-md-6">
                        <p align="center">DAMAS</p>
                        <p align="center">
                          <a href="r_damas"><img src="img/damas_violetas.png" height="150" width="150"></a>
                        </p>
                      </div>
                  </div>
                </div>
            </div>


        </div>

        <!--/.Main layout-->
    </main>

    <!--Footer-->
    <footer class="page-footer center-on-small-only">

      <div ng-controller="PieCtrl">
        <div ng-include src="footer.url"></div>
      </div>

    </footer>
    <!--/.Footer-->

    <!-- SCRIPTS -->

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js"></script>
    <script type="text/javascript" src="js/myapp.js"></script>

    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>

    <!-- Menu reducido -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


    <script>
            new WOW().init();
    </script>

</body>

</html>
